body {
  background-color: #17202a;
  font-family: "Roboto Mono", monospace;
  color: white;
}

.yellow {
  color: #3498db;
}

@media only screen and (min-width: 768px) {
  nav {
    flex-grow: 1;
    display: flex;
    align-items: baseline;
    min-width: 60%;
  }

  nav ul {
    max-width: 50%;
    margin-right: 10%;
  }
  .region-container {
    flex-direction: row !important;
  }
  .map {
    min-width: 40%;
  }
  .data {
    min-width: 60%;
    flex-direction: row !important;
    flex-wrap: wrap;
  }
  .data-box {
    width: 35% !important;
  }
}

header {
  font-family: "Roboto Mono", monospace;
  border-bottom: 2px solid #3498db;
}

h1 {
  flex-grow: 1;
  min-width: 20%;
  max-width: 100%;
  text-align: center;
  font-size: 2rem;
}

nav ul {
  justify-content: space-between;
  display: flex;
  flex-grow: 1;
  margin-left: 2%;
  margin-right: 2%;
}

nav ul a {
  color: white;
  text-decoration: none;
}

nav li {
  list-style-type: none;
  font-size: 1rem;
}

th,
td {
  text-align: center;
}

tr {
  border-bottom: 1px solid #3498db;
  border-collapse: collapse;
}

tr:hover {
  background-color: #090c10;
}

table {
  flex-grow: 1;
  border-bottom: 2px solid #3498db;
}

.table-responsive {
  display: flex;
  overflow-x: auto;
}
.data-form {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-right: 18px;
  padding: 10px 0px 10px 0px;
}
#date-input {
  background-color: #f5fffa;
}
#submit-button {
  transition-duration: 0.4s;
  margin-left: 18px;
  background-color: #f5fffa;
  border: 2px solid black;
}
#submit-button:hover {
  background-color: black;
  color: white;
}
input[type="date"] {
  border: none;
  text-align: right;
}
.input-label {
  font-size: 0.9rem;
}
path {
  fill: #454d55;
}

path:hover {
  fill: #3498db;
}
svg {
  width: 100%;
  margin: auto;
  display: block;
}
.region-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}
.map {
  display: flex;
  flex-direction: column-reverse;
}

.map text {
  text-align: right;
  font-size: 0.8rem;
}
.data {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.data-box {
  margin: 0 0 4px 4px;
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border: 1px solid black;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.box-title {
  height: 25px;
  background-color: #3498db;
}
.box-title p {
  display: inline;
}

.box-value{
  height: 50px;
}